h1 {
    color:rgb(255, 0, 0);
    background-color:rgb(0, 0, 0, 0.2);
}

h2 {
    font-size: 20px; color:red;}
/*Parrafo*/
p{
    font-size:1.5em;
    line-height:1.5;
}

.parrafo_uno{
    font-style:italic; font-size:15px;
}

.parrafo_dos{
    width:75%;/* 75 porciento del ancho de la pantalla*/
}

#parrafo_uno{
    opacity: 0.5;
}

.parrafo_dos{
    border: 2px solid blue;
}